
/* From : http://bootsnipp.com/snippets/featured/circle-button */
/* By http://bootsnipp.com/diglog */

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  margin: 5px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  box-shadow: 3px 3px 1px #888888;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  /*padding: 10px 16px;*/
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  box-shadow: 3px 3px 1px #888888;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  /*padding: 10px 16px;*/
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  box-shadow: 3px 3px 1px #888888;
}









