.Rproj.user
.idea
.Rhistory
.RData
.Ruserdata
rsconnect/
garbage/
inst/examples/garbage
shinyWidgets/wwww/
vignettes/
revdep/checks/
revdep/data.sqlite
revdep/library/
docs
node_modules
CRAN-SUBMISSION
