
/* material-switch */

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}





/* checkboxGroupButtons */

.btn.checkbtn:focus {
  outline: none !important;
}


.btn.checkbtn .check-btn-icon-yes {
	opacity: 0; display: none;
}
.btn.checkbtn.active .check-btn-icon-yes {
	opacity: 1; display: inline-block;
}

.btn.checkbtn.active .check-btn-icon-no {
	opacity: 0; display: none;
}
.btn.checkbtn .check-btn-icon-no {
	opacity: 1; display: inline-block;
}






 /* radio group buttons */

.btn.radiobtn:focus {
  outline: none !important;
}


.btn.radiobtn .radio-btn-icon-yes {
	opacity: 0; display: none;
}
.btn.radiobtn.active .radio-btn-icon-yes {
	opacity: 1; display: inline-block;
}

.btn.radiobtn.active .radio-btn-icon-no {
	opacity: 0; display: none;
}
.btn.radiobtn .radio-btn-icon-no {
	opacity: 1; display: inline-block;
}







/* circle button */

.btn-circle {
  width: 49px !important;
  height: 49px !important;
  text-align: center !important;
  padding: 5px 0 !important;
  font-size: 20px !important;
  line-height: 2.00 !important;
  border-radius: 30px !important;
}

.btn-circle-xs {
  width: 19px !important;
  height: 19px !important;
  text-align: center !important;
  padding: 1px 0 !important;
  font-size: 13px !important;
  line-height: 0.1 !important;
  border-radius: 30px !important;
}

.btn-circle-sm {
  width: 35px !important;
  height: 35px !important;
  text-align: center !important;
  padding: 2px 0 !important;
  font-size: 20px !important;
  line-height: 1.65 !important;
  border-radius: 30px !important;
}

.btn-circle-lg {
  width: 79px !important;
  height: 79px !important;
  text-align: center !important;
  padding: 13px 0 !important;
  font-size: 30px !important;
  line-height: 2.00 !important;
  border-radius: 70px !important;
}






