
.sp-preview-inner {
  width: 100% !important;
}

.sp-thumb-inner {
  border-radius: 15px;
  border: none;
}

.sp-palette .sp-thumb-el {
  border: none;
}

.sp-preview {
  border: none !important;
  width: 90% !important;
}

.sp-preview, .sp-alpha, .sp-thumb-el {
  background-image: none;
}

.btn-spectrum {
  width: 100%;
}

.sw-spectrum {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #FFF;
  padding: 5px;
}

.sp-choose {
  color: #333 !important;
  background-color: #fff !important;
  border-color: #ccc !important;
  background-image: none !important;
}

.sp-palette-toggle {
  color: #333 !important;
  background-color: #fff !important;
  border-color: #ccc !important;
  background-image: none !important;
  margin-top: 5px !important;
}
